@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
body {
  font-size: 16px;
}

* {
  /*  border: 1px solid red;*/
}

input {
  height: 25px;
}


#txt_DireccionDomicilio, #txt_Email, #txt_NumeroCuenta, #txt_Identificacion, #txt_Apellidos, #txt_Nombres {
  color: #000000;
  padding: 0 20px;
}

.k-datepicker .k-input {
  background: transparent;
}

span.k-datepicker {
  background: transparent;
}

#btn_AgregarDependiente, .k-grid tbody .k-button {
  color: #3F43AD;
  background: white;
  border: 1px solid #3F43AD;
  border-radius: 100px;
  margin-top: 5px;
  text-transform: capitalize;
}

#btn_AgregarDependiente:hover, .k-grid tbody .k-button:hover {
  color: white;
  background: #3F43AD;
}



#btn_Grabar {
  float: right;
  background: #3F43AD;
  border-radius: 100px;
  color: white;
  border: 0px;
  margin-bottom: 40px;
}

#btn_Grabar:hover {
  background: #d65811;
}

.k-picker-wrap.k-state-focused, .k-picker-wrap.k-state-hover {
  background-color: transparent !important;
}

.k-picker-wrap.k-state-focused .k-input, .k-picker-wrap.k-state-hover .k-input {
  background-color: transparent !important;
  cursor: default;
}

#grid_Dependientes {
  font-size: 13px;
}

fieldset {
    min-width: 320px !important;
  }
