body {
}



/*Arbol*/
#treeview .k-sprite {
    background-image: url("../images/coloricons-sprite.png");
}

.rootfolder {
    background-position: 0 0;
}

.folder {
    background-position: 0 -16px;
}

.pdf {
    background-position: 0 -32px;
}

.html {
    background-position: 0 -48px;
}

.image {
    background-position: 0 -64px;
}


/*//bordes grill*/
.k-grid-header-wrap .k-auto-scrollable {
    border-radius: 10px 10px 0 0;
}

.k-auto-scrollable {
    border-radius: 10px 10px 0 0;
}

.k-grid-header {
    border-radius: 10px 10px 0 0;
}

.k-grid {
    border-radius: 10px 10px 0 0;
}
/*color defs letras defs menu*/
.k-menu, .k-menu .k-group, .k-popup.k-widget.k-context-menu {
    color: #efebeb;
}

k-link k-state-active k-state-border-down {
    color: #efebeb;
}

.tamanioMediano {
    width: 300px;
}
