<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Saludsa - Portal Brokers</title>

    <style>
        .loading-container {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            line-height: 100px;
            color: #fff;
            text-align: center;
            z-index: 100000;
        }

        .k-chart {
            height: 30vh;
            width: 40vw;
        }
    </style>
    <script>
        var browser = detectIE();
        if (browser)
            alert('El aplicativo esta optimizado para ser usado con FireFox, Chrome y Opera, por favor use cualquiera de estos navegadores para aprovechar todas las caracteristicas de la app.');
        function detectIE() {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf('MSIE ');
            if (msie > 0) {
                // IE 10 or older => return version number
                //return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
                return true;
            }
            var trident = ua.indexOf('Trident/');
            if (trident > 0) {
                // IE 11 => return version number
                var rv = ua.indexOf('rv:');
                //return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
                return true;
            }
            //var edge = ua.indexOf('Edge/');
            //if (edge > 0) {
            //    // Edge (IE 12+) => return version number
            //    //return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
            //    return true;
            //}
            // other browser
            return false;
        }
    </script>
</head>
<body id="principal" style="display:none;">
    <div id="header"></div>
    <div id="menu"></div>
    <!--<div id="content">-->
    <!--<div id="banner" style="width:100%; height:27vw;">
        <div id="b1" style="width:100%; height:27vw; background-image:url('../images/imagen0.jpg'); background-position:center; background-size:cover;"></div>
        <div id="b2" style="width:100%; height:27vw; background-image:url('../images/imagen1.jpg'); background-position:center; background-size:cover;"></div>
        <div id="b3" style="width:100%; height:27vw; background-image:url('../images/imagen2.jpg'); background-position:center; background-size:cover;"></div>
    </div>

    <br /><br />
          <div style="width:100%; font-size:30px; text-align:center; color:gray;"> Brokers empoderados y enfocados en la atención y el servicio</div><br />
    <br />    
    <br /><br />-->
    <img src="../images/imagen_home_portalbroker.jpg" style="width:97vw;" />
    
    <div id="footer"></div>

    <div id="loading-container" class="loading-container"><img src="../images/preloading.GIF" /><br><span id="loading-msg"></span></div>
    <script src="../js/headjs/head.min.js" data-headjs-load="../Scripts/Init.js"></script>
</body>
</html>