<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Saludsa - Portal Brokers</title>

    <style>
        .loading-container {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            line-height: 100px;
            color: #fff;
            text-align: center;
            z-index: 100000;
        }

        .k-chart {
            height: 30vh;
            width: 40vw;
        }
    </style>
    <script>
        var browser = detectIE();
        if (browser)
            alert('El aplicativo esta optimizado para ser usado con FireFox, Chrome y Opera, por favor use cualquiera de estos navegadores para aprovechar todas las caracteristicas de la app.');
        function detectIE() {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf('MSIE ');
            if (msie > 0) {
                // IE 10 or older => return version number
                //return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
                return true;
            }
            var trident = ua.indexOf('Trident/');
            if (trident > 0) {
                // IE 11 => return version number
                var rv = ua.indexOf('rv:');
                //return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
                return true;
            }
            //var edge = ua.indexOf('Edge/');
            //if (edge > 0) {
            //    // Edge (IE 12+) => return version number
            //    //return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
            //    return true;
            //}
            // other browser
            return false;
        }
    </script>
</head>
<body id="principal" style="display:none;">
    <div id="header"></div>
    <div id="menu"></div>
    <div id="content">
        <div style="text-align:center">
            <div class="CenterBox">
                <h1><img src="../images/Facturacion.png" />&nbsp;&nbsp;Reporte de Facturación</h1>
                <hr>
                <p>A continuacion podrá ver información sobre las facturaciones emitidas mediante criterios de filtro</p>
                <h2>Búsqueda:</h2>
                <fieldset>
                    <div style="width:100%">
                        <div class="fieldBox" id="seccionBroker">
                            <label>Brokers:</label><br />
                            <button id="btn_SeleccionarAgentes">Seleccionar...</button>
                        </div>
                        <div class="fieldBox">
                            <label>Producto:</label><br />
                            <input id="selectProducto" type="text" />
                        </div>
                        <div class="fieldBox">
                            <label>Fecha:</label><br />
                            Desde: <input type="text" id="dt_Desde" /> - Hasta: <input type="text" id="dt_Hasta" />
                        </div>

                        <div class="fieldBox" id="extrasEmpresas">
                            <label>Empresa/Lista:</label><br />
                            <input type="text" id="txt_IdentificacionGenerica" style="width: 150px" />
                        </div>
                        <div class="fieldBox" id="extrasIndividual">
                            <label>Identificación:</label><br />
                            <input type="text" onkeypress="return validateNumber(event)" id="txt_IdentificacionP" style="width: 150px" />
                        </div>
                        <div class="fieldBox" id="extrasIndividual2">
                            <label>Número Contrato:</label><br />
                            <input type="text" onkeypress="return validateNumber(event)" id="txt_NumeroContrato" style="width: 150px" />
                        </div>

                        <div class="fieldBox">
                            <label>Formato de visualización:</label><br />
                            <div id="rb_formato">
                                <span>
                                    Pantalla
                                </span>
                                <span>
                                    Descargar
                                </span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div style="width:100%">
                        <div class="CenterBox">
                            <button id="btn_Buscar">Buscar</button>
                        </div>
                    </div>
                    <br />
                </fieldset>
                <div id="ventanaFacturacion" style="display:none">
                    <br />
                    <br />
                    <div id="grid_facturacion"></div>
                    <br />
                </div> <br />
                <br />
                <div id="pnl_ResultadoReporteador" style="display:none;">
                    <iframe id="iframeReporteador" frameborder="0" width="100%" height="500"></iframe>
                </div>
                <br />
            </div>
        </div>
    </div>
    <!--Seleccion de Broker-->
    <div id="ventana_GrupoAgentes" style="display:none;">
        <div id="grid_GrupoAgentes"></div>
        <br />
        <button id="btn_AceptarGrupoAgentes">Aceptar</button>
    </div>
    <!--Seleccion de Empresas-->
    <div id="ventana_Empresas" style="display:none;">
        <div id="grid_Empresas"></div>
        <br />
        <button id="btn_AceptarEmpresas">Aceptar</button>
    </div>
    <!--Detalle de Valor Cuota-->
    <div id="ventana_Cuota" style="display:none;">

        <div style="width:100%">
            <div class="fieldBoxDefinidoMedio">
                <label>Número Factura:</label><br />
                <label id="VC_numeroFactura">cargado..</label><br />
            </div>
            <div class="fieldBoxDefinidoMedio">
                <label>Valor Cuota:</label><br />
                <label id="VC_valorCuota">cargado..</label><br />
            </div>
        </div>
        <div style="width:100%">
            <div class="fieldBoxDefinidoMedio">
                <label>Valor Servicios Adicionales:</label><br />
                <label id="VC_valorServiciosAdicionales">cargado..</label><br />
            </div>
            <div class="fieldBoxDefinidoMedio">
                <label>Valor Gastos Administrativos:</label><br />
                <label id="VC_valorGastosAdministrativos">cargado..</label><br />
            </div>
        </div>
        <div style="width:100%">
            <div class="fieldBoxDefinidoMedio">
                <label>Valor Tarjetas:</label><br />
                <label id="VC_valorTarjetas">cargado..</label><br />
            </div>
            <div class="fieldBoxDefinidoMedio">
                <label>Valor Seguro Campesino:</label><br />
                <label id="VC_valorSeguroCampesimo">cargado..</label><br />
            </div>
        </div>
        <div style="width:100%">
            <div class="fieldBoxDefinidoMedio">
                <label>Total:</label><br />
                <label id="VC_total">cargado..</label><br />
            </div>
        </div>
        <br />
        <button id="btn_CerrarCuota">Cerrar</button>
    </div>
    <!-- Template de grilla Afiliado-->
    <script type="text/x-kendo-template" id="templateFacturacion">
        Descargas y Detalles
        <table id="tableDetalleB">
            <tr>
                <td><button onclick="functionDescargaRide('#= CodigoProducto #',#= CodigoSucursal #,#= SerieFacturacion #,#= NumeroFactura #);" class="k-button">Descargar Ride</button></td>
                <td>
                    <button onclick="functionDescargaXml('#= CodigoProducto #',#= CodigoSucursal #,#= SerieFacturacion #,#= NumeroFactura #);" class="k-button">Descargar Xml</button></tdwidth="40px">
                    # if (CodigoProducto === 'COR' || CodigoProducto === 'POO' ||CodigoProducto === 'SMARTPLAN'){ #
                <td><button onclick="functionDescargaSoportePdf(#= IDEmpresa #,#= IDSucursal #,#= IDCuota #);" class="k-button">Descargar Soporte Pdf</button></tdwidth="40px">
                <td><button onclick="functionDescargaSoporteExcel(#= IDEmpresa #,#= IDSucursal #,#= IDCuota #);" class="k-button">Descargar Soporte Excel</button></td>
                # } else { #
                <td><button onclick="functionVerDetalleCuota(#= NumeroFactura #,#= ValorCouta #,#= ValorServiciosAdicionales #,#= ValorGastosAdministrativos #,#= ValorTarjeta #,#= ValorSeguroCampesino #,#= ValorTotal #);" class="k-button">Detalle Cuota</button></td>
                # } #
            </tr>
        </table>
    </script>
    <div id="footer"></div>
    <div id="loading-container" class="loading-container"><img src="../images/preloading.GIF" /><br><span id="loading-msg"></span></div>
    <script src="../js/headjs/head.min.js" data-headjs-load="../Scripts/Init.js"></script>
</body>
</html>